%hide {
    display: none;
}
%nowrap {
    white-space: nowrap;
}
%singleline {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin pass {
    // 空内容
}

@mixin list-item($col, $include-head: true) {
    #{if($include-head, ".PageSubject,", "")} .rowbg1,
    .rowbg2 {
        > td:nth-child(#{$col}) {
            @content;
        }
    }
}

@mixin item-head() {
    .TopicBg1 > tbody > tr > td:first-child,
    .TopicBg2 > tbody > tr > td:first-child {
        @content;
    }
}

/* 全局 */
#main {
    width: 100% !important;

    > table:nth-child(2) tr:nth-child(2) td:nth-child(1) {
        @extend %singleline;
    }

    table {
        table-layout: fixed;
    }
}

/* 首尾页签 */
#top_PageLink,
#top_PageLink + td,
.showpage td {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    > .button_nopage {
        flex: auto;
    }

    select {
        @extend %hide;
    }
}

/* 列表页面 */
._forumTopicList_asp {
    @include list-item(1) {
        @extend %hide;
    }
    @include list-item(4) {
        @extend %hide;
    }
    @include list-item(2, $include-head: false) {
        font-size: 0px;
        a {
            font-size: 16px;
        }
        .button_page {
            @extend %hide;
        }
        img {
            display: none !important;
        }
    }
    @include list-item(3) {
        width: 13%;
        @extend %singleline;
    }
    @include list-item(5) {
        width: 18%;
        @extend %singleline;
    }
}

/* 详细页面 */
._forumTopicRead_asp {
    // 底端回复的第一列, 隐藏
    form[name="w"] {
        @each $i in (1, 2, 4, 5) {
            tr:nth-child(#{$i}) > td:nth-child(1) {
                @extend %hide;
            }
        }
    }
    // Item
    form[name="topicReplys"],
    #main > {
        .TopicBg1,
        .TopicBg2 {
            > tbody > tr {
                // 用户名和头像
                > td:nth-child(1) {
                    font-size: 0px;
                    width: 50px !important;
                    > div {
                        width: 50px !important;
                        // 虽然字体为0px, 但br依然会占用高度
                        br {
                            @extend %hide;
                        }
                    }
                    img {
                        width: 40px;
                    }
                }
                > td:nth-child(2) {
                    // 内容前后使用一个br来创造间隔...
                    br {
                        // @extend %hide;
                        @include pass;
                    }
                    // 签名和内容写死了高度, 去掉它
                    > div,
                    > table {
                        height: auto !important;
                    }
                    // 时间和楼层
                    tr:nth-child(1) {
                        > td:nth-child(1) {
                            @extend %nowrap;
                        }
                        > td:nth-child(2) > a {
                            @extend %hide;
                        }
                    }
                }
            }
            // 右下角的"来源", 隐藏
            div[align="right"] {
                @extend %hide;
            }
        }
    }
    // 一楼下面的分享
    #main > .TopicBg1 + table.TopicBg1 {
        visibility: hidden;
    }
    // 内容的图片
    .topic_msg {
        img[loaded] {
            width: 100%;
            object-fit: scale-down;
        }
    }
}
