/* Header */
.AppHeader {
    min-width: inherit;
    .ZhihuLogoLink,
    .SearchBar {
        display: none;
    }
    & &-inner {
        width: 100%;
        min-width: inherit;
    }
    & &-Tabs {
        margin-left: 0px;
        margin-right: 4px;
    }
    &-Tab {
        padding: 0 4px !important;
    }

    &-messages,
    &-notifications {
        margin-right: 16px;
    }
    &-userInfo {
        margin-left: 0px !important;
        margin-right: 32px;
    }
    &-navItem {
        padding: 0 5px;
    }
    &-nav {
        margin-left: 16px;
        margin-right: 16px;
    }
}

/* 往下滚动后显示的顶栏 */
.TopstoryPageHeader {
    min-width: inherit !important;
    width: 100% !important;

    & > div {
        flex: none;
    }
    & > &-main {
        flex: 0 0 64px;
    }
    & > &-aside {
        margin: 0 30px 0 12px;
        flex: auto;
    }

    &-main &-tabs {
        display: none;
    }
}

.Topstory {
    // 顶部广告
    .css-11h6utu {
        width: 100%;
    }
}

/* 通用列表 */
.Topstory-container,
.Search-container,
.Question-main,
.Profile-main {
    display: block;
    width: 100%;
    padding: 0px;
}
.Topstory-mainColumn,
.SearchMain,
.Question-mainColumn,
.Profile-mainColumn {
    width: 100%;
}
.Question-sideColumn,
.Profile-sideColumn {
    width: 100%;
}

/* 回答页面的Header */
.QuestionHeader .QuestionHeader-content {
    width: 100%;
    display: block;
    padding: 0px;
}
.QuestionHeader .QuestionHeader-main {
    width: 100%;
}
.QuestionHeader .QuestionHeader-side {
    width: 100%;
}
.QuestionHeader .NumberBoard {
    margin: auto;
}
.QuestionHeader {
    min-width: inherit;
}
.PageHeader .QuestionHeader-content {
    width: 100%;
}
.PageHeader .QuestionHeader-main {
    width: 100%;
    padding: 0px;
}
.PageHeader .QuestionHeader-side {
    display: none;
}

.AuthorInfo {
    overflow-x: hidden;
}

/* 个人主页 */
.ProfileHeader {
    width: 100%;
    padding: 0px;
    &-buttons {
        position: static;
    }
    &-content {
        &Head {
            padding-right: 0px;
        }
    }
}

.SearchTabs-inner {
    width: 100%;
}

.SearchTabs-inner,
.ProfileMain-tabs {
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

/* 列表Item上的按钮 */
.ContentItem-action {
    margin-left: 8px;
}
/*
// 测试按钮的选择器
.ContentItem-actions button.Button--withLabel,
button.ContentItem-action {
    color: red;
}
*/

/* 专栏页面 */
.Post {
    &-content {
        min-width: unset;
    }
    &-Main {
        padding: 0px 16px;
    }
    &-NormalSub > div,
    &-NormalMain > .Post-Header,
    &-NormalMain > div {
        width: 100%;
    }
}
/* 专栏主页的Header */
.ColumnPageHeader {
    &-content {
        width: calc(100% - 32px);
        padding: 0px 16px;
    }
    &-profile {
        display: none;
    }
    &-WriteButton {
        font-size: 0px;
    }
}

/* 弹窗 */
button.Button.css-1x9te0t,
.Modal-closeButton {
    position: static;
    margin-left: auto;
    margin-right: auto;
}
div.css-1bkecgh,
.Modal {
    width: 100%;
}

/* 追踪水印, https://twitter.com/undef_i/status/1566315374765031424 */
#root > div > div[class^="css-"] {
    display: none;
}
