#balh-settings {
    font-size: 12px;
    color: #6d757a;

    h1 {
        color: #161a1e
    }

    a {
        color: #00a1d6;
    }

    a:hover {
        color: #f25d8e
    }

    input {
        margin-left: 3px;
        margin-right: 3px;
    }

    label {
        width: 100%;
        display: inline-block;
        cursor: pointer
    }

    label:after {
        content: "";
        width: 0;
        height: 1px;
        background: #4285f4;
        transition: width .3s;
        display: block
    }

    label:hover:after {
        width: 100%
    }

    form {
        margin: 0
    }

    input[type="radio"] {
        appearance: radio;
    }

    input[type="checkbox"] {
        appearance: checkbox;
    }
}



@keyframes balh-settings-bg {
    from {
        background: rgba(0, 0, 0, 0)
    }

    to {
        background: rgba(0, 0, 0, .7)
    }
}