/* Header */
.AppHeader {
    min-width: inherit;
    .ZhihuLogoLink,
    .SearchBar {
        display: none;
    }
    &-inner {
        width: 100%;
        min-width: inherit;
    }
    &-Tabs {
        margin-left: 0px;
        margin-right: 4px;
    }
    &-Tab {
        padding: 0 4px !important;
    }

    &-messages,
    &-notifications {
        margin-right: 16px;
    }
    &-userInfo {
        margin-left: 0px !important;
        margin-right: 32px;
    }
    &-navItem {
        padding: 0 5px;
    }
    &-nav {
        margin-left: 16px;
        margin-right: 16px;
    }
}

.TopstoryPageHeader-main {
    margin-left: 16px;
}

/* 通用列表 */
.Topstory-container,
.Question-main,
.Profile-main {
    display: block;
    width: 100%;
    padding: 0px;
}
.Topstory-mainColumn,
.Question-mainColumn,
.Profile-mainColumn {
    width: 100%;
}
.Question-sideColumn,
.Profile-sideColumn {
    width: 100%;
}

/* 回答页面的Header */
.QuestionHeader .QuestionHeader-content {
    width: 100%;
    display: block;
    padding: 0px;
}
.QuestionHeader .QuestionHeader-main {
    width: 100%;
}
.QuestionHeader .QuestionHeader-side {
    width: 100%;
}
.QuestionHeader .NumberBoard {
    margin: auto;
}
.QuestionHeader {
    min-width: inherit;
}
.PageHeader .QuestionHeader-content {
    width: 100%;
}
.PageHeader .QuestionHeader-main {
    width: 100%;
    padding: 0px;
}
.PageHeader .QuestionHeader-side {
    display: none;
}

/* 个人主页的Header */
.ProfileHeader {
    width: 100%;
    padding: 0px;
}

/* 列表Item上的按钮 */
.ShareMenu {
    display: none;
}
.ContentItem-action {
    margin-left: 8px;
}

/* 专栏页面 */
.Post-NormalMain .Post-Header,
.Post-NormalMain > div {
    width: 100%;
}
.ColumnPageHeader-content {
    width: 100%;
}
/* 弹窗 */
.Modal-closeButton {
    position: static;
    margin-left: auto;
    margin-right: auto;
}
.Modal {
    width: 100%;
}
