/*.live-room-body.player-full-win #room-left-sidebar{display:block;transform: translate(-60px,0);}.live-room-body.player-full-win .sidebar-left-open #room-left-sidebar{transform: translate(160px,0);}.live-room-body.player-full-win #room-left-sidebar .toggle-btn{transform:translate(60px,0);}.live-room-body.player-full-win .sidebar-left-open #room-left-sidebar .toggle-btn{transform:rotate(90deg) translate(80px,-60px);}*/

@-webkit-keyframes jinkela-push {
    from {
        background-position-y: 0px
    }
    to {
        background-position-y: -220px
    }
}

@-webkit-keyframes jinkela-regain {
    from {
        background-position-y: -220px
    }
    to {
        background-position-x: 0px
    }
}

#chatHelper {
    z-index: 1001;
    position: absolute;
    width: 76px;
    height: 44px;
    top: -45px;
    right: 0px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
    animation: jinkela-regain 0.5s steps(5, end) forwards;
}

#chatHelper:hover {
    animation: jinkela-push 0.5s steps(5, end) forwards;
}

#quiz_helper {
    position: relative;
    overflow: hidden
}

#quiz_helper.hide {
    height: 0
}

#quiz-control-panel .quiz_helper {
    position: relative;
    margin-bottom: 29px
}

#quiz-control-panel .quiz_helper span {
    position: absolute;
    top: 6px;
    left: 0;
    color: #222
}

#quiz-control-panel input.error {
    border-color: #ff6767
}

#quiz-control-panel input {
    width: 80%;
    display: block;
    border: 1px solid #aaa;
    border-radius: 7px;
    margin: 0 0 0 40px;
    padding: 5px;
    box-sizing: border-box
}

#quiz-control-panel .quiz_helper .rate {
    width: 130px;
    display: inline;
    text-align: center;
    height: 29px;
    line-height: 29px
}

#quiz-control-panel .quiz_helper .rate:after {
    content: "使用方向键“←”和“→”进行微调";
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 22px
}

#quiz-control-panel .quiz_helper .msg {
    font-size: 10px;
    position: absolute;
    left: 40px;
    top: 32px;
    color: #6f6d6d
}

#quiz_helper>*.hide {
    position: absolute;
    top: 0;
    display: none
}

#quiz-control-panel .bet_toggle {
    position: absolute;
    top: 1px;
    right: 20px;
    padding: 0 5px;
    color: #fff;
    background-color: #aaa;
    border-radius: 4px;
    cursor: pointer
}

#quiz-control-panel .bet_toggle.on {
    background-color: #4fc1e9
}

.bet-buy-btns {
    overflow: hidden;
    height: 27px;
    transition: all cubic-bezier(.22, .58, .12, .98) .4s
}

.bet-buy-btns.hide {
    height: 0
}

#gift-panel .version {
    color: #444;
    font-size: 12px
}

#gift-panel .version a {
    outline: 0;
    color: #4fc1e9;
    text-decoration: none;
    cursor: pointer;
    margin-right: 5px
}

#gift-panel .version a:hover {
    color: #f25d8e
}

.quiz-panel {
    overflow: hidden;
    margin: 10px 0 0
}

.quiz-panel h4 {
    font-size: 17px;
    margin: 0;
    float: left
}

.quiz-panel .blue-box h4 {
    float: left
}

.quiz-panel .red-box h4 {
    float: right
}

.quiz-panel .blue-box .rate {
    float: right;
    border: 1px solid #4fc1e9
}

.quiz-panel .red-box .rate {
    float: left
}

.quiz-panel .rate {
    background-color: rgba(255, 255, 255, 0.25);
    display: block;
    width: 14px;
    text-align: center;
    height: 21px;
    line-height: 23px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 5px 0 3px;
    border-radius: 8px;
    cursor: pointer;
    font-family: -webkit-pictograph
}

.quiz-panel .red-box .rate {
    border: 1px solid #fd9ccc
}

.quiz-panel .count {
    overflow: hidden;
    padding: 5px;
    border-bottom: 1px solid #e2e2e2;
    position: relative
}

.quiz-panel .count:last-child {
    border-bottom: 0
}

.quiz-panel .blue-box {
    overflow: hidden;
    border-radius: 8px;
    width: 90px;
    float: left;
    border: 1px solid #4fc1e9;
    border-left: 5px solid #4fc1e9;
    color: #4c4c4c
}

.quiz-panel .red-box {
    overflow: hidden;
    border-radius: 8px;
    width: 90px;
    float: right;
    border: 1px solid #fd9ccc;
    border-right: 5px solid #fd9ccc;
    color: #4c4c4c
}

#quiz-control-panel .quiz_helper .rate_n {
    right: 0;
    top: 0;
    left: auto;
    position: absolute;
    width: 20px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 7px
}

.blue-box .wait {
    color: #4fc1e9;
    background-color: rgba(79, 193, 233, 0.15)
}

.red-box .wait {
    background-color: rgba(253, 156, 204, 0.15);
    color: #fd9ccc
}

.quiz-panel .success {
    color: #fff;
    background-color: #64d07d
}

.quiz-panel .success .rate {
    border-color: #fff
}

.quiz-panel .error {
    color: #fff;
    background-color: #e74e8f
}

.quiz-panel .count.run {
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #b6e2c1), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, #b6e2c1), color-stop(.75, #b6e2c1), color-stop(.75, transparent), to(transparent));
    -webkit-animation: move 3s linear infinite;
    background-size: 50px 50px
}

.quiz-panel .error .rate {
    border-color: #fff
}

.quiz-panel .hide {
    height: 0;
    padding: 0;
    border: 0
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 50px 50px
    }
}

#quiz_helper .count .menu {
    width: 90px;
    height: 33px;
    position: absolute;
    margin: -5px;
    background-color: rgba(255, 254, 254, 0.5);
    border-radius: 4px;
    overflow: hidden;
    transition: all ease-in-out .6s
}

#quiz_helper .count .menu span {
    cursor: pointer;
    float: left;
    width: 23px;
    height: 23px;
    padding: 0;
    background-color: #ff4b4b;
    border-radius: 25%;
    transition: all .3s;
    margin: 5px 5px 5px 0
}

#quiz_helper .blue-box .count .menu span {
    float: right;
    margin: 5px 0 5px 5px
}

#quiz_helper .count .menu span:hover {
    background-color: #f00
}

#quiz_helper .count .menu span:first-child {
    margin: 5px
}

#quiz_helper .blue-box .count .menu {
    right: -85px
}

#quiz_helper .red-box .count .menu {
    left: -85px
}

#quiz_helper .blue-box .count:hover .menu {
    right: 5px
}

#quiz_helper .red-box .count:hover .menu {
    left: 5px
}

#quiz_helper .count .menu .cancel {
    background-image: url(chrome-extension://kpbnombpnpcffllnianjibmpadjolanh/imgs/menu-icon.png);
    background-repeat: no-repeat;
    background-position: -16px 5px;
    background-size: 127px
}

#quiz_helper .count .menu .run {
    background-image: url(chrome-extension://kpbnombpnpcffllnianjibmpadjolanh/imgs/menu-icon.png);
    background-repeat: no-repeat;
    background-position: -55px 5px;
    background-size: 127px
}

#quiz_helper .count .menu .reset {
    background-image: url(chrome-extension://kpbnombpnpcffllnianjibmpadjolanh/imgs/menu-icon.png);
    background-repeat: no-repeat;
    background-position: -36px 5px;
    background-size: 127px
}

#quiz_helper .count .menu .delete {
    background-image: url(chrome-extension://kpbnombpnpcffllnianjibmpadjolanh/imgs/menu-icon.png);
    background-repeat: no-repeat;
    background-position: -16px 5px;
    background-size: 127px
}

#head-info-panel .bilibili-helper-info {
    position: absolute;
    width: 200px;
    right: 100%;
}

.bilibili-helper-info .treasure-info,
.bilibili-helper-info .watcher-info {
    padding: 10px;
    background-color: #fff;
    width: 38px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    top: -1px;
    float: right;
    margin-right: 5px;
}

.bilibili-helper-info .treasure-info {
    /*right: calc(100% + 45px);*/
}

.bilibili-helper-info .watcher-info {
    /*right: calc(100% + 5px);*/
}

.bilibili-helper-info .treasure-info a,
.bilibili-helper-info .watcher-info a {
    outline: 0;
    color: #4fc1e9;
    text-decoration: none;
    cursor: pointer;
    display: inline-block
}

.bilibili-helper-info .treasure-info a:hover,
.bilibili-helper-info .watcher-info a:hover {
    color: #f25d8e
}

.head-info-panel .attention-btn-ctrl {
    width: auto!important
}

.attention-btn-ctrl .mid-part {
    background-color: #4fc1e9;
    color: #fff;
    float: left;
    cursor: pointer;
    -webkit-user-select: none;
    width: 90px;
    height: 26px;
    padding: 0 5px;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 .1em .1em #ddd
}

.attention-btn-ctrl .mid-part:hover {
    background-color: #61c7eb
}

.room-ctrl {
    position: absolute;
    right: 10px
}

.chat-ctrl-panel .emoji-panel.helper-emoji-list,
#chat-msg-list .chat-msg .msg-content {
    line-height: 17px
}

.helper-text-area {
    line-height: 12px
}

#chatHelperWindow {
    position: absolute;
    top: -380px;
    right: 0;
    padding: 10px
}

.display-option .title {
    padding: 3px 15px 3px 5px;
    font-size: 14px
}

.display-option .option {
    display: inline-block;
    padding: 3px 5px
}

.display-option .option .button {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 3px 10px;
    margin: 2px;
    background-color: #c7c7c7;
    border-radius: 3px;
    color: #fff
}

.display-option .option .button.on {
    background-color: #4fc1e9
}

.chat-display .panel-title {
    margin: 0
}

.danmu-sender .helper_text_area[disabled="disabled"] {
    background-color: #e5e5e5;
    border-radius: 5px 0 0 5px;
}

.helper-hot-words-list .hot-words-ctnr {
    overflow-y: auto!important;
    overflow-x: hidden;
}
#chat-msg-list .chat-list-ctnr .chat-msg-list{
    padding: 5px 15px 5px 5px;
}